<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                @for (product of products; track $index) {
                    <div class="col-md-3">
                        <div class="product-box">
                            <a routerLink="/products/{{product.id}}">
                                <img [src]="product.imageUrl" [alt]="product.name" class="img-fluid">
                                <h1>{{ product.name }}</h1>
                            </a>
                            <div class="price">{{ product.unitPrice | currency }}</div>
                            <button (click)="addToCart(product)" class="btn btn-primary btn-sm">Add to cart</button>
                        </div>
                    </div>
                    
                }
            </div>
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%;">
                                <ngb-pagination [(page)]="thePageNumber"
                                                [pageSize]="thePageSize"
                                                [collectionSize]="theTotalElements"
                                                [maxSize]="3"
                                                [boundaryLinks]="true"
                                                (pageChange)="listProducts()">
                                    
                                </ngb-pagination>
                            </div>
                            <div class="col-md-3 " style="text-align: right;">
                                <select #myPageSelect (change)="updatePageSize(myPageSelect.value)" class="form-select" aria-label=".form-select-sm example" >
                                    @for (pageSize of pageSizes; track $index) {
                                        <option >{{pageSize}}</option>
                                    }
                                </select>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>