<table class="table">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Units In Stock</th>
        </tr>
    </thead>
    <tbody>
        @for (product of products; track $index) {
            <tr >
                <td class="align-middle"><img src="{{product.imageUrl}}" height="50"></td>
                <td class="align-middle">{{ product.name }}</td>
                <td class="align-middle">{{ product.unitPrice | currency }}</td>
                <td class="align-middle">{{ product.unitsInStock }}</td>
            </tr>
        } 
    </tbody>
</table>
